## Relação entre `aspectos sociais` e `expectativa de vida `

### IDH, Criminalidade e Desemprego

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [48]:
df_expectativa_vida = pd.read_csv('./dataset/expectativa_vida.csv', sep=',')

df_expectativa_vida  = df_expectativa_vida[['Indicator','ParentLocation','Location', 'Period', 'Dim1', 'Value']]

# Pivotando o dataframe para transformar a coluna 'Period' em colunas separadas para os anos desejados
df_expectativa_vida_pivot = df_expectativa_vida.pivot_table(index=['Indicator', 'ParentLocation', 'Location', 'Dim1'], columns='Period', values='Value').reset_index()

# Selecionando apenas as colunas desejadas
df_expectativa_vida_pivot = df_expectativa_vida_pivot[['Indicator', 'ParentLocation', 'Location', 'Dim1', 2000, 2010, 2015, 2019]]

df_expectativa_vida_pivot.head()

Period,Indicator,ParentLocation,Location,Dim1,2000,2010,2015,2019
0,Life expectancy at age 60 (years),Africa,Algeria,Both sexes,19.81,21.37,21.81,22.04
1,Life expectancy at age 60 (years),Africa,Algeria,Female,20.25,21.85,22.33,22.62
2,Life expectancy at age 60 (years),Africa,Algeria,Male,19.36,20.89,21.33,21.53
3,Life expectancy at age 60 (years),Africa,Angola,Both sexes,14.42,15.97,16.71,16.98
4,Life expectancy at age 60 (years),Africa,Angola,Female,16.01,17.54,18.42,18.55

In [4]:
df_criminalidade = pd.read_csv('./dataset/World Crime Index .csv', sep=';')
df_criminalidade.head()

               Rank,City,Crime Index,Safety Index
0              1,"Caracas, Venezuela",83.98,16.02
1          2,"Pretoria, South Africa",81.98,18.02
2                    3,"Celaya, Mexico",81.8,18.2
3        4,"San Pedro Sula, Honduras",80.87,19.13
4  5,"Port Moresby, Papua New Guinea",80.71,19.29

In [37]:
df_hdi = pd.read_csv('./dataset/hdi.csv', sep=',', encoding='ISO-8859-1')
df_hdi = df_hdi[['Country', 'HDI Rank', '2000','2010', '2015', '2019']]
df_hdi.head()

       Country  HDI Rank   2000   2010   2015   2019
0  Afghanistan     169.0  0.350  0.472  0.500  0.511
1      Albania      69.0  0.671  0.745  0.788  0.795
2      Algeria      91.0  0.637  0.721  0.740  0.748
3      Andorra      36.0  0.813  0.837  0.862  0.868
4       Angola     148.0  0.400  0.517  0.572  0.581

In [46]:
df_desemprego = pd.read_csv('./dataset/desemprego.csv', sep=',')
df_desemprego = df_desemprego[['Country', '2000','2010', '2015', '2019']]

df_desemprego.head()

                       Country   2000   2010   2015   2019
0  Africa Eastern and Southern   7.72   6.87   6.49   6.91
1                  Afghanistan  10.81  11.35  11.13  11.22
2   Africa Western and Central   4.92   4.55   4.63   6.06
3                       Angola   4.03   9.43   7.39   7.42
4                      Albania  19.03  14.09  17.19  11.47

In [70]:
import pandas as pd

# Carregando o arquivo CSV
df = pd.read_csv('./dataset/data_cts_intentional_homicide.csv', sep=';', encoding='ISO-8859-1')

# Pivotando os dados
df_pivot = df.pivot(index=['Iso3_code', 'Country', 'Region', 'Subregion', 'Indicator', 'Dimension', 'Category', 'Sex', 'Age'], 
                    columns='Year', 
                    values='VALUE').reset_index()
print(df_pivot.columns)

df_pivot.head()
# # Como o pivot pode transformar "Year" em colunas numéricas, você pode querer filtrar somente os anos de interesse
# selected_years = [2000, 2010, 2015, 2019]
# columns_to_select = ['Iso3_code', 'Country', 'Region', 'Subregion', 'Indicator', 'Dimension', 'Category', 'Sex', 'Age'] + selected_years
# df_pivot_selected = df_pivot[columns_to_select]

# # Exibindo as primeiras linhas da versão pivotada dos dados com os anos selecionados
# print(df_pivot_selected.head())

C:\Users\marce\AppData\Local\Temp\ipykernel_512\559890659.py:7: FutureWarning: pivot_table dropped a column because it failed to aggregate. This behavior is deprecated and will raise in a future version of pandas. Select only the columns that can be aggregated.
  df_pivot = df.pivot_table(index=['Iso3_code', 'Country', 'Region', 'Subregion', 'Indicator', 'Dimension', 'Category', 'Sex', 'Age'],

Year,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age
0,ABW,Aruba,Americas,Latin America and the Caribbean,Victims of intentional homicide,Total,Total,Female,Total
1,ABW,Aruba,Americas,Latin America and the Caribbean,Victims of intentional homicide,Total,Total,Male,Total
2,ABW,Aruba,Americas,Latin America and the Caribbean,Victims of intentional homicide,Total,Total,Total,Total
3,AFG,Afghanistan,Asia,Southern Asia,Victims of intentional homicide,Total,Total,Female,Total
4,AFG,Afghanistan,Asia,Southern Asia,Victims of intentional homicide,Total,Total,Total,Total